<div  class="moduleWrapper" [@slideIn]="loading" (@slideIn.done)="remove($event)">
  <ul class="row">
    <li>
      <table>
        <td class="moduleTitle">
          <md-input-container>
            <input mdInput placeholder='{{"module title" | translate}}' type="text" #Title="ngModel" [(ngModel)]="title" name="title" required>
            <md-hint align="start" class="warning" *ngIf="form != null && form.submitted && !Title.valid"><strong>{{'The title of the module is required' | translate}}</strong> </md-hint>
          </md-input-container>
        </td>
        <td class="moduleArrows">
          <button md-raised-button type="button" (click)="up()">
            <i class="material-icons">keyboard_arrow_up</i>
          </button>
          <button md-raised-button type="button" (click)="down()">
          <i class="material-icons">keyboard_arrow_down</i>
        </button>
      </td>
      </table>
    </li>

    <li>
      <div>
        <md-input-container>
          <textarea mdInput placeholder='{{"module description" | translate}}' type="textarea" #moduleDescription="ngModel" [(ngModel)]="learningText" name="learningText" required></textarea>
          <md-hint align="start" class="warning" *ngIf="form != null && form.submitted && !moduleDescription.valid"><strong>{{'The module description is required' | translate}}</strong> </md-hint>
        </md-input-container>
      </div>
    </li>

    <li>
      <div class="module" #module></div>
          <md-select placeholder='{{"add question" | translate}}' [(ngModel)]="selectedValue" name="selectedValue">
            <md-option *ngFor="let c of components"  (click)="addQuestion(c.component)" >{{c.name}}</md-option>
          </md-select>
            <md-hint align="start" class="warning" *ngIf="form != null && form.submitted && (module.length <= 0)">
              <strong>{{'At least one question is required for this module' | translate}}</strong>
            </md-hint>
    </li>
  </ul>
    <div>
      <button md-raised-button type="button" (click)="close()">
        <i class="material-icons">delete</i>{{"remove module" | translate}}
      </button>
    </div>
</div>
