@import "../../../../_vars";
table {
  td {
    vertical-align: middle;
  }
}

.moduleTitle {
  padding-right: 1.5em;
}

md-input-container{
.moduleArrows {
  width: 10%;
  min-width: 50px;
  button {
    width: 100%;
  }}
}

.addquestion{
  background-color: #efefef;
}

.details-animated {
  transition: height 1s ease;
}
.details-animated:not([open]) { height: 1.25em; }
.details-animated[open] { height: auto; }

md-input-container {
  width: 90%;
}

#learningText {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 5em;
}

.moduleWrapper {
  margin: 1em 0;
  padding: 1em 0;
}

ul {
  list-style: none;
  // padding: 16px 24px;
  margin: 1.5em 0;
  li{
    padding:0px 0px;}
  li {
    padding: 0px 24px;
    }
}



summary{
  opacity: 0.75;
}

div{
  padding-left: 50px;
}
