@import "../../../theme";

ul{
  list-style: none;
  padding: 0;
}
.highlight{
  background-color: green;
}

.panel.panel-default {
  margin-top: 1em;
}

.answers{
  width: 50%;
  float: left;
  padding-right: 1em;
}
.fullWidth{
  width: 100%;
  padding: 0;
}
.image {
  width: 50%;
  float: left;
  img{
    width: 100%;
  }
}
