/* For use in src/lib/core/theming/_palette.scss */
$md-ccred: (
    50 : #f8e1e7,
    100 : #edb4c2,
    200 : #e28399,
    300 : #d65170,
    400 : #cd2b52,
    500 : #c40633,
    600 : #be052e,
    700 : #b60427,
    800 : #af0320,
    900 : #a20214,
    A100 : #ffcccf,
    A200 : #ff99a0,
    A400 : #ff6670,
    A700 : #ff4d58,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-ccfonts: (
    50 : #e7e7e8,
    100 : #c2c3c5,
    200 : #9a9c9e,
    300 : #717477,
    400 : #525659,
    500 : #34383c,
    600 : #2f3236,
    700 : #272b2e,
    800 : #212427,
    900 : #15171a,
    A100 : #61b1ff,
    A200 : #2e98ff,
    A400 : #007dfa,
    A700 : #0070e0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-ccback: (
    50 : #faf7f0,
    100 : #f3ecda,
    200 : #ebdfc1,
    300 : #e2d2a8,
    400 : #dcc996,
    500 : #d6bf83,
    600 : #d1b97b,
    700 : #ccb170,
    800 : #c6a966,
    900 : #bc9b53,
    A100 : #ffffff,
    A200 : #fff8eb,
    A400 : #ffe8b8,
    A700 : #ffe09e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-ccshadow: (
    50 : #e7e7e7,
    100 : #c2c2c2,
    200 : #999999,
    300 : #707070,
    400 : #525252,
    500 : #333333,
    600 : #2e2e2e,
    700 : #272727,
    800 : #202020,
    900 : #141414,
    A100 : #ef6e6e,
    A200 : #ea4040,
    A400 : #f60000,
    A700 : #dd0000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
