/* You can add global styles to this file, and also import other style files */
@import "_vars"

button
  background-color: $primary-color
  span
    color: white

.container
  background-color: $optional-color

.box
  background-color: $optional-color

nav
  background-color: $optional-color

.content
  background-color: $optional-color


md-checkbox
  input
    display: none
