/* You can add global styles to this file, and also import other style files */
@import "_vars"

button
  background-color: $primary-color
  span
    color: white

.container
  background-color: $background-color


nav
  background-color: $background-color

.content
  background-color: $background-color

html, body
  height: 100%
  position: relative

md-checkbox
  input
    display: none

.mat-checkbox-frame
  color: $optional-color

.mat-checkbox-background
  path
    stroke: $optional-color
