/* You can add global styles to this file, and also import other style files */
@import "_vars"


html, body
  height: 100%
  position: relative

md-checkbox
  input
    display: none


.questionWrapper:nth-child(even)
  background-color: red
