@import './_vars';
@import '../node_modules/@angular/material/theming';

@include mat-core();

$primary: mat-palette($md-ccred);
$accent: mat-palette($md-ccback);
$warn: mat-palette($mat-red);
$shadow: mat-palette($md-ccshadow);
$font: mat-palette($md-ccshadow);

$custom-theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($custom-theme);


body{
  font-family: "Helvetica"
}

main, footer{
  background-color: mat-color($shadow, 100);
}

header{
  background-color: mat-color($accent)
}

main{
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 1em;
  box-shadow: 0px 2px 2px mat-color($shadow, 200);
}

body{
  overflow-y: hidden;
}

a{
  transition: color 0.4s ease;
  cursor: pointer;
}

a:hover, a:focus, a:active{
  text-decoration: none;
  color: mat-color($primary)
}

*[md-raised-button]{
  background-color: mat-color($primary);
  &:hover{
    background-color: mat-color($primary, 300)
  }
}

button{
  color: white !important;
}

*[md-button]{
  background-color: mat-color($primary);
}

*[md-tab-link]{

  text-decoration: none;
  color: mat-color($font);

  &:hover{
    background-color: mat-color($accent, 300)
  }

  &.is-active{
    border-bottom: 4px solid mat-color($primary)
  }
    opacity: 1 !important;
}

.error{
  input{
    border-color: mat-color($warn)
  }
}


// the style for the local Loader which will only be shown in the boxes and set to the center of the parent box
.localLoader{
  width: 100%;
  text-align: center;
}

md-progress-spinner{
  margin: auto;
}

// sidebar for the Menu
.sidebar{
  position: absolute;
  left: 0;
  top:0;
  right: auto;
  bottom: 0;
  box-sizing: border-box;
  overflow: auto;
  overflow-x: hidden;
  box-shadow: 0 0 2px;
  width: 33.3333333333%;
  ul{
    list-style: none;
    padding: 0;
    li{
      padding: 0.5em 0;
      text-align: center;
      button{
        width: 100%;
      }
    }
  }
}

.content {
 box-sizing: border-box;
 overflow-y: auto;
 position: absolute;
 right: 0;
 left: auto;
 top: 0;
 bottom: 0;
 box-shadow: 0 0 2px;
 width: 66.6666666666666%;
}

app-add-module{
  display:block;
  margin: 0 -15px;
  padding: 0 15px;

  &:nth-child(2n){
    background-color: mat-color($shadow, 200);
    box-shadow: 0px 5px 5px mat-color($shadow, 200);
  }
}
