@import './_vars';
@import '~@angular/material/theming';

@include mat-core();

@import url(https://fonts.googleapis.com/css?family=Raleway);

$link: mat-palette($mat-blue);

$green: mat-palette($mat-green);

$custom-theme: mat-light-theme(mat-palette($mat-blue), mat-palette($mat-red));

@include angular-material-theme($custom-theme);


body{
  font-family: "Raleway"
}


header{
  background-color: $primary;
  color: $white;
  padding-left: 2em;
  position: relative;
  app-menu{
    .mat-tab-link{
      color: $white;
    }
    position: absolute;
    left: auto;
    right: 2em;
    bottom: 0;
    top: auto;
  }
  h1{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 6px;
  }
}

main{
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 1em;
  padding-left: 2em;
  //margin-right: 2em;
}

body{
  overflow-y: hidden;

}

a{
  color: lieghten($primary, 10%);
  transition: color 0.4s ease;
  cursor: pointer;
  outline: 0;
}

a:hover, a:focus, a:active, a.active{
  text-decoration: none;
  color: $primary;
}

*[md-raised-button]{
  background-color: $button;
  &:hover{
    background-color: darken($button, 5%);
    color: $black;
  }
    //color: mat-color($shadow) !important
}

button{
  color: $black;;
  &.active{
    background-color: darken($button, 5%);
    color: $black;
  }
}

*[md-button]{
  background-color: $button;
}

.mat-tab-label-container, .mat-tab-header-pagination{
  background-color: #f5f5f5;
}

.mat-tab-label-active{
  color: $primary;
}

.cdk-overlay-pane{
  background-color: white;
}

*[md-tab-link]{

  text-decoration: none;
  color: $black;

  &:hover{
    background-color: lighten($primary, 5%);
  }

  &.active{
    border-bottom: 4px solid $button
  }
    opacity: 1 !important;
}

textarea{
  resize: vertical;
  overflow-x: hidden;
}

md-checkbox{
  .mat-checkbox-layout{
    margin: 0;
    display: block;
    width: 100%;
    padding: 0.5em;
  }
  &.mat-checkbox-checked {
    .mat-checkbox-background{
      background-color: $primary !important;
    }
  }
  &.mat-checkbox{
        .mat-ripple-element{
          opacity: 0.5;
          background-color: lighten($primary, 5%) !important;
        }
    }
}

.alert{
  border-radius: 0;
  &.false{
    background-color: transparent;
  }
  &.success{
    background-color: lighten($button, 10%);
  }
  &.danger{
    background-color: lighten($warn, 50%);
  }
}

md-hint{
  color: $warn;
  font-size: 14px;
}

.error{
  input{
  }
}


// the style for the local Loader which will only be shown in the boxes and set to the center of the parent box
.localLoader{
  width: 100%;
  text-align: center;
}

md-progress-spinner{
  margin: auto;
}

.sidebar{
  ul{
    list-style: none;
    padding: 0;
    li{
      padding: 0.5em 0;
      text-align: center;
      button{
        width: 100%;
      }
    }
  }
}

@media(min-width: 768px){
  // sidebar for the Menu
  .sidebar{
    position: absolute;
    left: 2em;
    top:0;
    right: auto;
    bottom: 0;
    box-sizing: border-box;
    overflow: auto;
    overflow-x: hidden;
    width: calc(33.3333333333% - 2em);
  }

  .content {
   box-sizing: border-box;
   overflow-y: auto;
   position: absolute;
   right: 0;
   left: auto;
   top: 0;
   bottom: 0;
   width: 66.6666666666666%;
   padding: 1.26em;
  }
}

// labels

md-input-container, md-select{
  width: 100%;
  .mat-input-placeholder, .mat-select-placeholder{
    color: lighten($primary, 5%);
  }
  .mat-input-infix{
    border-bottom: 1px solid $black;
  }
}

md-input-container{
  padding-bottom: 1em;
}


app-add-module{
  display:block;
  margin: 0 -15px;
  padding: 0 15px;

  &:nth-child(2n){
    background-color: $white;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  }
}

// buttons

.info{
  //display: none;
}

*[disabled]{
  position: relative;
  .info{
    display: block;
    opacity: 0;
    position: absolute;
    bottom: auto;
    left: 0;
    right: auto;
    top: 2em;
    background-color: $shadow;
    border-radius: 2px;
    padding: 0 1em;
    transition: opacity 0.4s ease;
  }
}

*[disabled]:hover .info{
  opacity: 1;
}


// this needs to be here because of the MarkdownModule
// it will create a p inside the markdown without reference to the current class
.answerText{
  *{
    display: inline;
  }
  .arrow{
    //border: 1px solid #333;
    border-right: none;
    position: relative;
    display: inline-block;
    width: auto;
    line-height: 1.5em;
    padding: 0 0.5em;
    //border-radius: 2px;
    background-color: white;
    z-index: 99;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);

    &::before{
      display: block;
      position: absolute;
      right: -0.9em;
      top:0;
      bottom: 0;
      left: auto;
      content: "";
      height: 1.5em;
      width: 1.5em;
      z-index: 9;
      //background-color: #333;
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);

      transform: rotate(-45deg);
      //border-right: 20px solid transparent;
      //border-top: 1px solid #333
    }
  }
}
