<div *ngIf="!loading" >
<h2>
  {{name}}
  <div [ngSwitch]="true">
    <button *ngSwitchCase="solved[0] == 0 && solved[1] == 0"  md-raised-button class="startCourse" routerLink="/course/{{ id }}/1/1/">start Course</button>
    <button *ngSwitchCase="solved[0] == -1 || solved[1] == -1" mf-raised-button class="startCourse" [disabled]="true">Course Completed</button>
    <button *ngSwitchDefault md-raised-button class="startCourse" routerLink="/course/{{id}}/{{solved[0]+1}}/{{solved[1]+1}}">continue</button>
  </div>
</h2>
<ol>
  <li class="module" *ngFor="let m of modules; let i = index">
    <h3>{{m.name}}</h3>
    <div class="alert alert-info">{{m.learning_text}}</div>
    <ol>
      <li class="question" *ngFor="let q of m.question; let j = index">
        <div class="alert" [class.success]="solved[0] == -1 || i < solved[0] || (i == solved[0] && j < solved[1])">
          {{q.class}}
          <button *ngIf="solved[0] == -1 || i < solved[0] || (i == solved[0] && j < solved[1])" class="startQuestion" md-raised-button routerLink="/course/{{id}}/{{i+1}}/{{j+1}}">
            repeat
          </button>
        </div>
      </li>
    </ol>
  </li>
</ol>
</div>
<div *ngIf="loading" class="localLoader">
<md-progress-spinner mode="indeterminate"></md-progress-spinner>
</div>
