.startCourse{
  float: right;
}
body{
  counter-reset: item;
}

ol{
  list-style: none;
  li{
    margin-bottom: 5px;
    &.module{
      counter-increment: module;
      h3:before{
        content: counter(module) ": ";
      }
    }
    &.question{
      counter-increment: question;
      div:before{
        content: counter(question) ": ";
      }
    }

    &:before{
      margin-right: 10px;
      width: 1.2em;
      color: black;
      display: inline;
    }
  }

}
