@import "../../theme";

.startCourse{
  float: right;
}

.header{
  vertical-align: bottom;
  width: 100%;
  .title{
    width: 50%;
  }
  .counter{
    width: 25%;
    text-align: center;
    font-size: 1.5em;
    span{
      font-size: 1.6em;
    }
  }
  .button{
    width: 25%;
    text-align: right;
  }
  &:after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
  }
}


body{
  counter-reset: item;
}

.alert{
  border-color: mat-color($shadow);
  &.success{
    border-color: #d6e9c6;
    background-color: #dff0d8;
  }
}

ol{
  list-style: none;
  li{
    position: relative;
    .startQuestion{
      position: absolute;
      right: 8px;
      left: auto;
      top: 8px;
      bottom: 8px;
    }
    margin-bottom: 5px;
    &.module{
      counter-increment: module;
      h3:before{
        content: counter(module) ": ";
        font-weight: bold;
        margin-left: -1.3em;
        width: 1.3em;
        display: inline-block;

      }

    }
    ol{
      padding: 0;
    }
    &.question{
      counter-increment: question;
      div:before{
        content: counter(question) ": ";
        font-weight: bold;
      }
    }
  }
}
