<div *ngIf="!loading" >
<h2>
  {{name}} <button  md-raised-button class="startCourse" routerLink="/course/{{ id }}/1/1/"> start Course</button>
</h2>
<ol>
  <li class="module" *ngFor="let m of modules; let i = index">
    <h3>{{m.name}}</h3>
    <div class="alert alert-info">{{m.learning_text}}</div>
    <ol>
      <li class="question" *ngFor="let q of m.question; let j = index">
        <div class="alert"
          [class.alert-success]="solved.indexOf(q.id) > -1"
          [class.alert-false]="solved.indexOf(q.id) == -1">{{q.class}}</div>
      </li>
    </ol>
  </li>
</ol>
</div>
<div *ngIf="loading" class="localLoader">
<md-progress-spinner mode="indeterminate"></md-progress-spinner>
</div>
