<h2>Ranking</h2>
<div *ngIf="!loading">
  <div class="ranking-list">
    <hr style="width: 50%; float: left"/>
    <ol>
      <li *ngFor="let p of profiles">
        <!-- TODO: this should link the public profile -->
        <button md-button routerLink="/admin/profiles/{{p.id}}">
          <div class="ranking-name">
            {{ p.name }}
          </div>
          <div class="ranking-number">
            {{ p.ranking }}
          </div>
        </button>
        <hr/>
      </li>
    </ol>
  </div>
</div>
