@import "../../../_vars";

md-card {
  width: 50%;
}

ol {
  list-style: decimal;
  padding: 1em 0;
  li {
    //position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    button {
      float: left;
      background-color: white;
      width: 100%;
      margin-bottom: 5px;
      .ranking-name {
        float: left;
        font-weight: bold;
        width: 80%;
      }

    }
    .ranking-number {
      width: 20%;
      float: left;
      font-weight: bold;
      text-align: left;
      height: auto;
      white-space: normal;
    }
  }
}

hr {
  width: 100%;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 5px;
  margin-bottom: 5px;
}
