<div [hidden]="loading && (loadCourse != undefined || !loadCourse)">
<form #f="ngForm"  name="createCourse" (ngSubmit)="save(f)" >
    <div class="form-group">
    <md-input-container>
      <input mdInput placeholder="{{'title' | translate}}" #courseTitle="ngModel" [(ngModel)]="title" name="title" type="text" required>
      <md-hint align="start" class="warning" *ngIf="f.submitted && !courseTitle.valid"><strong>{{'The title of the course is required' | translate}}</strong> </md-hint>
    </md-input-container>

    <div>
      <md-select placeholder='{{"difficulty" | translate}}' #difficulty="ngModel" [(ngModel)]="diff" name="difficulty" required>
        <md-option *ngFor="let d of difficultys"  [value]="d.value">{{d.name}}</md-option>
      </md-select>
      <md-hint align="start" class="warning" *ngIf="f.submitted && !categorie.valid"><strong>{{'The category of the course is required' | translate}}</strong> </md-hint>
    </div>

    <div>
      <md-select placeholder='{{"language" | translate}}' #language="ngModel" [(ngModel)]="lng" name="language" required>
        <md-option *ngFor="let l of languages"  [value]="l.id">{{l.name}}</md-option>
      </md-select>
      <md-hint align="start" class="warning" *ngIf="f.submitted && !categorie.valid"><strong>{{'The category of the course is required' | translate}}</strong> </md-hint>
    </div>

    <div>
      <md-select placeholder='{{"category" | translate}}' #categorie="ngModel" [(ngModel)]="category" name="category" required>
        <md-option *ngFor="let c of categories"  [value]="c.name">{{c.name}}</md-option>
      </md-select>
      <md-hint align="start" class="warning" *ngIf="f.submitted && !categorie.valid"><strong>{{'The category of the course is required' | translate}}</strong> </md-hint>
    </div>
  </div>


  <div [class.moduleWrapper]="moduleArray.length > 0" >
    <div class="modules" #modules></div>
     <button md-raised-button type="button" (click)="addModule()">
       <md-icon>add</md-icon> {{"add module" | translate}}
     </button>
  </div>
  <div >
    <div class="alert danger" *ngIf="f.submitted && !f.valid">
      {{"Please check the from there is something wrong." | translate}}
    </div>
    <button type="submit" md-raised-button class="saveButton" mdTooltip='{{"a course must contain at least one module" | translate}}'  [disabled]="length < 1">
      <md-icon>save</md-icon> {{"save" | translate}}
    </button>
  </div>
</form>
</div>
<div *ngIf="loading" class="localLoader">
<md-progress-spinner mode="indeterminate"></md-progress-spinner>
</div>
