<div class="form-group" *ngIf="!loading">
  <label for="title">title</label>
  <input type="text" class="form-control" id="title" [(ngModel)]="title" required>
</div>
<div class="form-group">
  <label for="basic" class="control-label">{{"select category" | translate}}</label>

  <div>
    <select *ngFor="let c of categories" id="basic" [(ngModel)]="catId" class="form-control">
      <option [ngValue]="c.id">{{c.name}}</option>
    </select>
  </div>
</div>

<div [class.moduleWrapper]="moduleArray.length > 0" class="test">
  <div class="modules" #modules></div>
   <button md-raised-button class=" " (click)="addModule()">
     <i class="material-icons">add</i> {{"add module" | translate}}
   </button>
   <button md-raised-button class=" " (click)="save()"><i class="material-icons">save</i> {{"save" | translate}}</button>
</div>
<div *ngIf="loading" class="localLoader">
<md-progress-spinner mode="indeterminate"></md-progress-spinner>
</div>
