<div class="moduleWrapper" [@slideIn]="loading" (@slideIn.done)="remove($event)">
  <div class="form-group row">
    <div class="col-md-10">
      <label for="title">{{"module title" | translate}}</label>
      <input type="text" class="form-control" id="title" [(ngModel)]="title" required>
    </div>
    <div class="col-md-2 arrows">
      <button md-raised-button (click)="up()">
        <i class="material-icons">keyboard_arrow_up</i>
      </button>
      <button md-raised-button (click)="down()">
      <i class="material-icons">keyboard_arrow_down</i>
    </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <label for="learningText">{{"module description" | translate}}</label>
      <textarea  id="learningText" type="textarea" [(ngModel)]="learningText"></textarea>
    </div>
  </div>

  <div>

      <!--<p>add-module works! {{id}}</p>-->
      <div class="module" #module></div>
      <!-- add Question -->
      <div class="form-group">
        <label for="basic" class="control-label">{{"Select Question Type" | translate}}</label>

        <div class="">
          <select *ngFor="let c of components" id="basic" (click)="addQuestion()" [(ngModel)]="selectedValue" class="selectpicker show-tick form-control">
            <option [ngValue]="c.component">{{c.name}}</option>
          </select>
        </div>
      </div>
      <!-- / add Question -->

  </div>
  <div>
    <button md-raised-button class=" " (click)="close()">
      <i class="material-icons">delete</i>{{"remove module" | translate}}
    </button>
  </div>
</div>
