<h2>{{"UserDetail" | translate}}{{user.data.username}}</h2>

<form #f="ngForm" name="register" (ngSubmit)="register(f)">

      <md-input-container>
        <input mdInput type="email" placeholder='{{"email" | translate}}' #email pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" name="email" [(ngModel)]="user.data.email"/>
        <md-hint align="start"  *ngIf="!email.valid && f.submitted" class="warning">
          <strong>{{"invalid email" | translate}}</strong>
        </md-hint>
      </md-input-container>

    <md-input-container>
      <input mdInput placeholder='{{"first name" | translate}}' type="text" name="first_name" [(ngModel)]="user.data.first_name"/>
    </md-input-container>

    <md-input-container>
        <input mdInput placeholder='{{"last name" | translate}}' type="text" name="last_name" [(ngModel)]="user.data.last_name" />
    </md-input-container>

    <button [disabled]="loading" type="submit" md-raised-button class=" ">Edit Profile</button>

</form>
