<h2 *ngIf="user != undefined">{{"UserDetail" |
  translate}}{{user.username}}</h2>
<ul *ngIf="user != undefined">
  <li>{{"username" | translate}}: {{user.username}}</li>
  <li *ngIf="user.email">{{"email" | translate}}: {{user.email}}</li>
  <li *ngIf="user.group">{{"group" | translate}}: {{user.group.name}}</li>
  <li>{{"Date registered" | translate}}: {{user.dateRegistered | date:'d. MMMM y'}}
</ul>

<div *ngIf="user != undefined">

  <h2 mdTooltip="The behaviour is the following:
    A user can be a moderator, an admin, both or neither.
    So a moderator, that is also promoted to an admin will be a moderator again, if he/she gets his/her admin rights withdrawn.
    An admin can always do the same things as moderator."
      mdTooltipPosition="before">
    {{"User rights"| translate}}
    <md-icon>
      info_outline
    </md-icon>
  </h2>


  <div>
    <div>
      <button *ngIf="isMod == false" [disabled]="loading"
              (click)="proDemote('moderator', 'promote')" md-raised-button>
        <md-icon> star_half</md-icon>
        {{"promote to moderator" | translate}}
      </button>
      <button *ngIf="isMod == true" [disabled]="loading"
              (click)="proDemote('moderator', 'demote')" md-raised-button>
        <md-icon> star_half</md-icon>
        {{"wihdraw moderator rights" | translate}}
      </button>
    </div>
    <div>
      <button *ngIf="isAdmin == false" [disabled]="loading"
              (click)="proDemote('admin', 'promote')" md-raised-button>
        <md-icon> star</md-icon>
        {{"promote to admin" | translate}}
      </button>
      <button *ngIf="isAdmin == true" [disabled]="loading"
              (click)="proDemote('admin', 'demote')" md-raised-button>
        <md-icon> star</md-icon>
        {{"wihdraw admin rights" | translate}}
      </button>
    </div>
  </div>
</div>
