
.detail-menu {
 position: absolute;
 left: 0;
 top:0;
 right: auto;
 bottom: 0;
 box-sizing: border-box;
 overflow: auto;
 overflow-x: hidden;
}

.addCourse{
  float:right;
}

.collapseButton{
  width: 100%;
}

.collapse{
  height: 0px;
}

#courses{
  transition: height 0.4s ease-in-out;
}

.content {
 float: right;
 width: 66%;
 margin-right: 0.5%;
 padding: 20px;
 box-sizing: border-box;
}
