@import "../../theme";

.addCourse{
  float:right;
}

.collapseButton{
  width: 100%;
}


.collapse{
}

i {
    border: solid white;
    border-width: 0 3px 3px 0;
    float: left;
    margin-top: 12px;
    display: inline-block;
    padding: 3px;
}
.arrow{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: transform 0.2s ease-in-out;
  &.right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
  }
}



#courses{
  transition: height 0.4s ease-in-out;
  //border: 1px solid mat-color($shadow);
  border-top: none;
  box-shadow: 0px 2px 2px mat-color($shadow);
  padding: 0;
  ul {
    margin: 0;
    li {
      transition: background-color 0.4s ease-in-out;
      &:hover {
        background-color: mat-color($shadow, 200);
      }
      a {
        width: 100%;
        display: block;
        &:hover {
          color: mat-color($shadow);
        }
      }
    }
  }
}

li:nth-child(2n) {
    background-color: mat-color($accent, 100);
}
