<div class="Document">

  <div class="row">

    <div class ="box">
      <h2>Dashboard</h2>
      <button md-raised-button class=" " (click)="statisticsclicked()">view statistics</button><br>
      <button md-raised-button class=" " (click)="createclicked()" >add Course</button><br>

      <button md-raised-button class=" " (click)="collapse = !collapse" >Courses</button>
      <div id="courses" [collapse]="collapse">
        <div *ngFor="let c of course">
        <a routerLink="/course/{{c.id}}" >{{c.name}}</a>
        </div>
      </div>

    </div>

    <div class ="content">
      <div *ngIf="create == true">
        <app-create-course></app-create-course>
      </div>

      <div *ngIf="statistics == true">
        <statistics></statistics>
      </div>

    </div>

  </div>

</div>
