<nav md-tab-nav-bar >
  <span *ngIf="user.login">
    <a md-tab-link *ngIf="user.isAdmin()"  routerLink="/admin/" [routerLinkActive]="['active']">{{"admin" | translate}}</a>
    <!-- <a md-tab-link  routerLink="/profile/" [routerLinkActive]="['active']">{{"profile" | translate}}</a> -->
    <a md-tab-link  routerLink="/course/" [routerLinkActive]="['active']">{{"learn" | translate}}</a>
    <a type="quick" md-tab-link (click)="openDialog()"><img [src]="user.data.avatar"> {{user.data.username}} <md-icon>arrow_drop_down</md-icon></a>
  </span>

  <span *ngIf="!user.login">
    <a md-tab-link routerLink="/login/" [routerLinkActive]="['active']">{{"login" | translate}}</a>
    <a md-tab-link routerLink="/register/" [routerLinkActive]="['active']">{{"register" | translate}}</a>
  </span>

</nav>
