@import '../../_vars';

av{
  padding: 0;
  text-align: right;
  margin: 0;
  width: 100%;
}

.mat-menu-item{
  padding: 0 0.05em;
  margin: 0 0.5em;
  &.active{
    border-bottom: 2px solid $primary;
  }

}
