@import '../../../../_vars.scss';

.quiz-popup-msg{
  min-width: 500px;
}
.mat-dialog-title{
  text-align: center;
}

button{
  width: 100%
}

table{
  list-style: none;
  padding: 0;
  width: 100%;
  tr.solved {
    background-color: $green;
  }
  td{
    border-bottom: 1px solid $shadow;
    padding: 0.5em 0;
  }
}
