<div class="col-md-6 col-md-offset-3">

<div class="register">

  <h2>Register</h2>

  <form #f="ngForm" name="register" (ngSubmit)="register(f)">
      <div class="form-group" [ngClass]="{ 'has-error': submitted }">
          <label for="email">E-Mailadress</label>
          <input type="email" #email="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" class="form-control" name="email" [(ngModel)]="newEmail" required />
          <div *ngIf="!email.valid && f.submitted" class="alert alert-danger">email is required</div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': submitted }">
          <label for="username">Username</label>
          <input type="text" #username="ngModel" minlength="5" class="form-control" name="username" [(ngModel)]="newUsername" required />
          <div *ngIf="!username.valid && f.submitted" class="alert alert-danger">Invalid input for username</div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': submitted }">
          <label for="newPassword">Password</label>
          <input type="password" #password="ngModel" minlength="5" class="form-control" name="password" [(ngModel)]="newPassword" required />
          <div *ngIf="!password.valid && f.submitted" class="alert alert-danger">Password is required</div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': submitted }">
          <label for="newPassword_2">Password again</label>
          <input type="password" #password2="ngModel" minlength="5" class="form-control" name="password2" [(ngModel)]="newPassword2" required />
          <div *ngIf="(!password2.valid || password2.value != password.value) && f.submitted" class="alert alert-danger">password has to match</div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': submitted }">
          <label for="newFirstName">First name (optional)</label>
    <input type="text" class="form-control" name="firstName" [(ngModel)]="newFirstName"/>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': submitted }">
          <label for="newLastName">Last name (optional)</label>
    <input type="text" class="form-control" name="lastName" [(ngModel)]="newLastName" />
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': submitted }">
          <label for="newAge">Age (optional)</label>
    <input type="number" class="form-control" name="age" [(ngModel)]="newAge" />
      </div>

      <div class="form-group">
          <button [disabled]="loading" type="submit" md-raised-button class=" ">Register</button>
      </div>

  </form>
  <div class="alert alert-danger" *ngIf="errorMessage != null">{{errorMessage}}</div>
  <button md-raised-button class="btn-info" routerLink="/login">Login with you account</button>
</div>
