<table class="footer">
  <th>
    <a routerLink="/about">about</a>

    <a routerLink="/impressum">imprint</a>

    <a routerLink="/kontakt">contact</a>

  </th>

  <th class="center">
    copyright at IGEM Darmstadt
  </th>

  <th class="end">
    <a href="http://www.facebook.com" target="_blank"><img
      src="assets/images/facebook.png" alt="facebook"/></a>
    <a href="http://www.twitter.com" target="_blank"><img
      src="assets/images/twitter.jpeg" alt="twitter"/></a>
    <a href="http://www.github.com" target="_blank"><img
      src="assets/images/github.png" alt="github"/></a>
  </th>
</table>
