@media(min-width: 768px){
  .flex{
    display: flex;
    flex-flow: column;
  }

  .box{
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  header{
    width: 100%;
    position: relative;
  }

  main{
    flex: 1 1 auto;
    position: relative;
    width: 100;
    .contentWrapper{
      height: 100%;
    }
  }
}
$header-height: 45px;
$header-margin-bot: 10px;
header{
  #logo, h1{
    height: $header-height;
    margin-bottom: $header-margin-bot;
    display: inline-block;

  }
}
