<div class="box" *ngIf="settings.loaded">
  <header>
    <span routerLink="/course">
      <img *ngIf="settings.data.image != ''" [src]="settings.data.image" id="logo">
    <h1>
      {{settings.data.name}}
    </h1>
  </span>
    <app-menu [hidden]="!user.loaded" #menu></app-menu>
  </header>
  <main class="flex">
    <div [hidden]="user.loaded" class="localLoader">
      <md-progress-spinner mode="indeterminate"></md-progress-spinner>
    </div>
    <div [hidden]="!user.loaded" class="contentWrapper">
      <router-outlet>
      </router-outlet>
    </div>
  </main>
</div>

<md-progress-spinner mode="indeterminate" *ngIf="!settings.loaded"></md-progress-spinner>
