@import "../_vars";


@media(min-width: 768px){
  .flex{
    display: flex;
    flex-flow: column;
  }

  .box{
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  header{
    width: 100%;
    position: relative;
  }

  main{
    flex: 1 1 auto;
    position: relative;
    width: 100;
  }
}
