
<div class="register">
  <div class="form">
    <div class="centerMiddle">
      <h2>{{"Password Reset" | translate}}</h2>

      <p>If you wish to reset your password, please enter the e-mail address you
        registered with.
      </p>

      <form #f="ngForm" name="pw-reset" (ngSubmit)="submit(f)">
        <md-input-container>
          <input mdInput type="email" placeholder='{{"email" | translate}}'
            #email="ngModel"
            pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
            name="email" [(ngModel)]="newEmail" required />
          <md-hint align="start" *ngIf="!email.valid && f.submitted">
            <strong>{{"invalid email" | translate}}</strong>
          </md-hint>
          <md-hint *ngIf="answer != undefined">
            <strong>{{"Successfully reset! Please check your inbox" | translate}}
            </strong>
          </md-hint>
        </md-input-container>

        <button md-raised-button [disabled]="loading" type="submit">
          {{"Reset" | translate}}
        </button>
      </form>
      <button md-raised-button class="btn-info" routerLink="/login">{{"Login with your account" | translate}}</button>
    </div>
  </div>
</div>
<footer>
  <app-footer-mainpage></app-footer-mainpage>
</footer>
