table{
  vertical-align: bottom;
  margin-bottom: 1em;
  .text{
    vertical-align: top;
    .textWrapper{
      box-shadow: 1px 1px 5px #333;
      margin: 0;
      padding: 0;
      .alert.info{
        margin-bottom: 0;
      }
    }
  }
}

.feedback{
  h3{
    margin-top: 0;
  }
}

.bottom{
  margin-bottom: 1em;
}
