<div class="row">
  <div class="col-md-4">
    <h2>{{title}}</h2>
    <p>{{questionBody}}</p>
  </div>
  <div class="col-md-8">
    <div class="question" #question></div>
  </div>
</div>
<div class="row">
  <div *ngIf='submitCorrect' class="alert alert-success col-md-6">
    {{feedback}}
  </div>
  <div *ngIf='!submitCorrect && submitSend' class="alert alert-danger col-md-6">
    Please Try again
  </div>
</div>
<button md-raised-button class="btn  " (click)="submit()">submit</button>
<button md-raised-button [disabled]="!submitCorrect" class="btn  " (click)="next()">next</button>
