table{
  vertical-align: bottom;
  margin-bottom: 1em;
  .text{
    vertical-align: top;
    //box-shadow: 2px 2px 5px #333;
  }
}

.feedback{
  h3{
    margin-top: 0;
  }
}

.bottom{
  margin-bottom: 1em;
}
