<div class="row">
  <h2 class="col-md-12">{{title}}</h2>
</div>
<table class="row">
  <td class="col-md-4 text">
    <div class="alert alert-info">{{learning_text}}</div>
    <div class="alert">{{questionBody}}</div>
  </td>
  <td class="col-md-8">
    <div class="question" #question></div>
  </td>
</table>
<div class="row">
  <div *ngIf='submitCorrect' class="col-md-6">
    <div class="alert alert-success">
      {{feedback}}
    </div>
  </div>
  <div *ngIf='!submitCorrect && submitSend' class="col-md-6">
    <div class="alert alert-danger">
      Please Try again
    </div>
  </div>
</div>
<div class="row bottom">
  <div class="col-md-12">
    <button md-raised-button [disabled]="submitCorrect" class="btn  " (click)="submit()">submit</button>
    <button md-raised-button [disabled]="!submitCorrect" class="btn  " (click)="next()">next</button>
  </div>
</div>
