<div *ngIf="!loading">
  <div class="sidenav-content">

    <div class="navigation-buttons">
      <div class="nav-button">
        <a (click)="closeSidemenu()">
          <md-icon>close</md-icon>
        </a>
      </div>
      <h2>
        {{name}}
      </h2>
      <div class="course-description">
        <markdown [data]="description"></markdown>
      </div>
    </div>


    <ol>
      <li class="module" *ngFor="let m of modules; let i = index">
        <h4>{{ m.name }}</h4>
        <ol>
          <hr/>

          <div *ngFor="let q of m.questions; let j = index">
            <li class="question">
              <div [class.success]="q.solved">
                <button
                  md-button
                  class="question-button"
                  *ngIf="q.solved || (m.questions[j - 1] != undefined && m.questions[j -
                1].solved && sidemenu != undefined) || (sidemenu != undefined
                && modules[i-1] != undefined &&
                modules[i-1].questions[modules[i-1].questions.length -
                1].solved && j <= 0) || (i == 0 && j == 0 && sidemenu !=
                undefined)"
                  (click)="closeSidemenu()"
                  routerLink="/course/{{id}}/{{i+1}}/{{j+1}}">
                  <md-icon *ngIf="q.solved">check</md-icon>
                  {{ q.title }}
                </button>
                <button
                  md-button disabled
                  class="question-button"
                  *ngIf="!(q.solved || (m.questions[j - 1] != undefined && m.questions[j - 1].solved && sidemenu != undefined) || (sidemenu != undefined && modules[i-1] != undefined && modules[i-1].questions[modules[i-1].questions.length - 1].solved && j <= 0) || (i == 0 && j == 0 && sidemenu != undefined))"
                  (click)="closeSidemenu()"
                  routerLink="/course/{{id}}/{{i+1}}/{{j+1}}">
                  <p>{{ q.title }}</p>
                </button>
              </div>
            </li>
            <hr/>
          </div>
        </ol>
      </li>
    </ol>
  </div>
</div>
<div *ngIf="loading" class="localLoader">
  <md-progress-spinner mode="indeterminate"></md-progress-spinner>
</div>
