<div *ngIf="!loading">
  <div class="sidenav-content">

    <div class="card">
      <div class="navigation-buttons">
          <!--<a routerLink="/profile">
            <md-icon>person_outline</md-icon>
          </a>-->
          <a (click)="closeSidemenu()">
            <md-icon>close</md-icon>
          </a>
      </div>
      <h2>
        {{name}}
      </h2>
      <div class="course-description">
        <markdown [data]="description"></markdown>
      </div>
    </div>


    <ol>
      <li class="module" *ngFor="let m of modules; let i = index">
        <h4>{{ m.name }}</h4>
        <ol>
          <hr/>

          <div *ngFor="let q of m.questions; let j = index">
            <li class="question">
              <div [class.success]="q.solved">
                <button
                  md-button
                  [disabled]="!(q.solved || (i == 0 && j == 0) || (((j >= 1) && modules[i].questions[j-1].solved || (i >= 1 && modules[i-1].questions[0].solved) ))) "
                  class="question-button"
                  (click)="closeSidemenu()"
                  routerLink="/course/{{id}}/{{i+1}}/{{j+1}}">
                  <b>{{ j + 1 }}: </b>
                  <!--<md-icon *ngIf="q.solved">done</md-icon>-->
                  {{ q.title }}
                </button>
              </div>
            </li>
            <hr/>
          </div>
        </ol>
      </li>
    </ol>
  </div>
</div>
<div *ngIf="loading" class="localLoader">
  <md-progress-spinner mode="indeterminate"></md-progress-spinner>
</div>
