@import '../../_vars';

<<<<<<< HEAD
=======
md-card {
  width: 100%;
  height: 100%;
}

av {
  padding: 0;
  text-align: right;
  margin: 0;
  width: 100%;
}
>>>>>>> 06c60dc06f90997196524c0127fc4442f0ffc60c

.mat-menu-item {
  padding: 0 0.05em;
  margin: 0 0.5em;
  &.active {
    border-bottom: 2px solid $primary;
  }

}

<<<<<<< HEAD
img{
=======
.example-card {
  width: 100%;
  height: 100%;
  // padding: 0px 0px 0px 0px;
}

.example-header-image {
  background-size: cover;
}

button {
  float: right;
}

img {
>>>>>>> 06c60dc06f90997196524c0127fc4442f0ffc60c
  width: 50%;
  height: 30%;
  border: 3px solid #021a40;
  border-radius: 50%;
}

<<<<<<< HEAD
div{
  float: right;
}

md-icon{
  padding-top: 10px;
}

nav{
=======
h2 {
  float: right;
}

nav {
>>>>>>> 06c60dc06f90997196524c0127fc4442f0ffc60c
  float: right;
  padding-left: 5px;
}
