@import '../../_vars';


.mat-menu-item{
  padding: 0 0.05em;
  margin: 0 0.5em;
  &.active{
    border-bottom: 2px solid $primary;
  }

}

img{
  width: 50%;
  height: 30%;
  border:3px solid #021a40;
  border-radius: 50%;
}

div{
  float: right;
}

md-icon{
  padding-top: 10px;
}

nav{
  float: right;
  padding-left: 5px;
}
