@import "../../../_vars";

md-progress-spinner{
  height: calc(200px + 3em + 2em);
}
.statisticsHeader{
  margin-bottom: 1em;
}

.weeklyStatistics{
    height: calc(200px + 2em + 1em  + 2em);
    display: block;
    text-align: center;
    position: relative;
    .day{
      text-align: center;
      width: calc(100% / 7);
      position: relative;
      display: inline-block;
      height: calc(200px + 3em + 2em);
      border-left: 1px solid $white;
      overflow: hidden;
      .title{
        line-height: 3em;
        display: inline-block;
        width: 100%;
      }
      .questions{
        width: 100%;
        content:"";
        display: block;
        margin: auto;
        position: absolute;
        top: auto;
        left: 0;
        right: 0;
        bottom: 2em;
        text-align: center;
        border-bottom: 1px solid $white;
        .total, .solved{
          display: inline-block;
          width: calc(50% - 12px);
          padding: 0;
          margin: 0 5px;
          div{

            background-color: $button;
            margin: 0 auto;
            max-width: 75px;
          }
        }
      }
      .sum{
        position: absolute;
        top: auto;
        bottom: 0;
        text-align: center;
        left: 0;
        right: 0;
      }
    }
}
.text{
  font-size: 1.5em;
  text-align: center;
  vertical-align: top;
}
.chart{
}
