<h2>{{"statistics" | translate}}</h2>
<div *ngIf="!loading">
  <!--<md-form-field>
    <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
    <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
    <md-datepicker #picker></md-datepicker>
  </md-form-field>-->
  <md-card class="weeklyStatistic">
    <div class="statisticsHeader">
      <h3>
        {{ offsetDate.getDate() }}. {{ monthNames[offsetDate.getMonth()]}} - {{ offsetEnd.getDate() }}. {{ monthNames[offsetEnd.getMonth()]}}
      </h3>
      <button md-button (click)="offsetDate.setDate(offsetDate.getDate() - 7); loadDate()"><md-icon>keyboard_arrow_left</md-icon></button>
      <button md-button (click)="offsetDate.setDate(offsetDate.getDate() + 7); loadDate()" [disabled]="!(offsetEnd < currentDate)"><md-icon>keyboard_arrow_right</md-icon></button>
    </div>
    <div class="weeklyStatistics" *ngIf="(statistics != undefined) && !(loadStats)">
      <span *ngFor="let i of [ 0,1,2,3,4,5,6 ]" class="day">
        <div class="title">
          {{statistics[i].day}}
        </div>
        <div class="questions">
          <div class="total" [mdTooltip]="'total ' + statistics[i].stat.length + ' questions tried'">
            <div
              *ngFor="let try of statistics[i].stat"
              [style.height.px]="200 / height"
              [style.background]="try['question__module__course__category__color'] || try['quiz_question__course__category__color']">
            </div>
          </div>
          <div class="solved" [mdTooltip]=" + statistics[i].stat['solved'] + ' questions solved'">
            <div
              *ngFor="let try of statistics[i].stat"
              [hidden]="!try['solved']"
              [style.height.px]="200 / height"
              [style.background]="try['question__module__course__category__color'] || try['quiz_question__course__category__color']">
            </div>
          </div>
        </div>
        <div class="sum">
          {{statistics[i].stat.length}} tries
        </div>
      </span>
    </div>
    <md-progress-spinner *ngIf="loadStats" mode="indeterminate"></md-progress-spinner>
  </md-card>
  <md-card class="totalStatistic" >
    <div class="text">
      You have solved a total of <b>{{totalQuestion}}</b> questions in the following categories
    </div>
    <div class="chart" *ngIf="loadedPie">
      <canvas baseChart
              [legend]="true"
              [colors]="pieChartColor"
              [data]="pieChartData"
              [labels]="pieChartLabels"
              chartType="pie"
              (chartHover)="chartHovered($event)"></canvas>
    </div>
    <md-progress-spinner *ngIf="!loadedPie" mode="indeterminate"></md-progress-spinner>
  </md-card>
  <a md-raised-button (click)="downloadStatistics()" ><md-icon>save</md-icon> {{"download" | translate}}</a>
</div>
<div *ngIf="loading" class="localLoader">
  <md-progress-spinner mode="indeterminate"></md-progress-spinner>
</div>
