
.question{
  padding-left: 25px;
  // height: 5em;
}

ul {
  list-style: none;
  padding: 0;
}

.textareas{
  width: 70%;
}

.answers{
  .remove{
    float: right;
  }
  textarea {
    margin-top: 1em;
  }
}

.addAnswer {
  margin: 1em 0;
}

.imageUpload{
  padding-left: 25px;
}
