<div>
  <h2>
    {{"Add multiple choice Question" | translate}}
  </h2>
  <md-input-container>
    <textarea mdInput placeholder='{{"Question" | translate}}' #Question="ngModel" name="question" type="textarea" [(ngModel)]="question" required></textarea>
    <md-hint align="start" class="warning" *ngIf="form != null && form.submitted && !Question.valid"><strong>{{'The question is required' | translate}}</strong> </md-hint>
  </md-input-container>
  <h3 for="answers">Answers</h3>
  <ul id="answers" class="answers">
    <li class="singleQuestion" [@slideIn]="answers[j].visible" (@slideIn.done)="removeAnswer($event, j)" *ngFor="let i of answers; let j = index" >
      <div class="alert" [class.success]="i.correct"
        [class.danger]="!i.correct">
        <md-checkbox type="checkbox" name="isActive" [(ngModel)]="i.correct">
          {{"is this Answer correct?" | translate}}
        </md-checkbox>
        <button md-raised-button type="button" class="remove" (click)="slideInFunction(j)" >
          <i class="material-icons">delete</i>{{"remove" | translate}}
        </button>
        <md-input-container>
          <textarea mdInput placeholder="{{'answer text' | translate}}" class="answer" [(ngModel)]="i.text"></textarea>
        </md-input-container>
      </div>
    </li>
  </ul>
  <md-hint align="start" class="warning" *ngIf="form != null && form.submitted && !(validAnswer())"><strong>{{'one true Question is required' | translate}}</strong> </md-hint>
  <div>
    <button md-raised-button type="button" class="addAnswer" (click)="addAnswer()"><i class="material-icons">add</i> {{"add Answer" | translate}}</button>
  </div>
</div>
