.question{
  height: 5em;
}

ul{
  list-style: none;
  padding: 0;
}

textarea{
  width: 100%;
  resize:vertical;
}

.answers{
  .remove{
    float: right;
  }
  .imageUpload img{
    max-height: 35px;
    padding: 0;
    margin: 1em 0;
    width: auto;
  }
  textarea{
    margin-top: 1em;
  }
}
.addAnswer{
  margin: 1em 0;
}
