<div appLoggedIn>
</div>
<md-sidenav-container class="questionWrapper">
  <md-sidenav #sidenav>
    <app-course [sidemenu]="sidenav"></app-course>
  </md-sidenav>
  <div class="content">
    <table>
      <td class="text">
          <div class="alert">
            <markdown id="learning_text" [data]="learning_text" *ngIf="learning_text != undefined">
            </markdown>
          </div>
          <md-card ><markdown id="question_text" [data]="questionBody" *ngIf="questionBody != undefined"></markdown></md-card>
      </td>
      <td class="question">
        <div id="question" #question></div>
      </td>
    </table>
  </div>

  <footer>
    <table>
      <th>
        <button md-raised-button (click)="sidenav.open()">{{"dashboard" | translate}}</button>
      </th>
      <th class="middle">
        <md-card class="module" *ngFor="let m of progress" [style.width.%]="((m.length / allQuestionsInCourse) * 100) - 1">
          <div class="wrapper">
            <div class="question" [mdTooltip]="q.title" mdTooltipPosition="above" [class.correct]="q['solved']" *ngFor="let q of m">
            </div>
          </div>
        </md-card>
      </th>
      <th class="end">
        <button md-raised-button *ngIf="!submitCorrect" (click)="submit()">{{"submit" | translate}}</button>
        <button md-raised-button *ngIf="submitCorrect" (click)="next()">{{"next question" | translate}}</button>
      </th>
    </table>
  </footer>
</md-sidenav-container>
