@import "../../../_vars.scss";

table{
  vertical-align: bottom;
  margin-bottom: 1em;
  width: 100%;
  .text{
    width: 33.3333333%;
    padding-right: 1em;
    vertical-align: top;
    .textWrapper{
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
      margin: 0;
      padding: 0;
      .alert.info{
        margin-bottom: 0;
      }
    }
  }
  .question{
    vertical-align: top;
  }
}

.questionWrapper{
  height: 100%;
}

table{

}

md-sidenav{
  width: 300px;
  padding: 0 0.5em;
}

.content{
  position: absolute;
  left: 0;
  top:0;
  right: 0;
  bottom: 60px;
  overflow: scroll;
  width: 100%;
  padding: 0 2em;
}

footer{
  table{
    margin: 0 2em;
    vertical-align: middle;
    height: 100%;
    width: calc( 100% - 4em );
    th{
      width: 200px;
    }
    .middle{
      display: flex;
      flex-flow: row wrap;
      flex: 1 100%;
      margin: 13px auto;
      width: 50%;
      md-card{
        flex: 1 auto;
        margin: 0 0.2em;
        height: 24px;
        padding: 0;
        display: flex;
        .correct{
          background-color: $button;
        }
        div{
          border-right: 1px solid $shadow;
          flex: 1 auto;
        }
      }
    }
    .end{
      text-align: right;
    }
  }
}



.feedback{
  h3{
    margin-top: 0;
  }
}

.bottom{
  margin-bottom: 1em;
}
