table{
  vertical-align: bottom;
  margin-bottom: 1em;
  width: 100%;
  .text{
    width: 33.3333333%;
    padding-right: 1em;
    vertical-align: top;
    .textWrapper{
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
      margin: 0;
      padding: 0;
      .alert.info{
        margin-bottom: 0;
      }
    }
  }
  .question{
    vertical-align: top;
  }
}

.questionWrapper{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 60px;
  overflow-y: scroll;
}

.footer{
  margin: 1em 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: auto;
}



.feedback{
  h3{
    margin-top: 0;
  }
}

.bottom{
  margin-bottom: 1em;
}
