<h1 md-dialog-title>Confirm Deletion</h1>
<div md-dialog-content>
  Deleting {{data.category.name}} results in deletion of the following:

  <ul *ngIf='courses != undefined'>
    <li *ngFor='let c of courses'>
      {{c.name}}
    </li>
  </ul>

<!---
  <ul>
    <li>
      <span *ngIf="data.animal === 'panda'">&#10003;</span> Panda
    </li>
    <li>
      <span *ngIf="data.animal === 'unicorn'">&#10003;</span> Unicorn
    </li>
    <li>
      <span *ngIf="data.animal === 'lion'">&#10003;</span> Lion
    </li>
  </ul>

-->
</div>
