.button {
  //margin: 1em;
}
.startCourse {
  float: right;
}

.header {
  vertical-align: bottom;
  width: 100%;
  margin: 10px 0;
  .title {
    width: 75%;
  }
  .counter {
    .chart {
      height: 150px;
      width: 150px;
    }
    height: 50px;
    width: 25%;
    text-align: center;
    font-size: 1.5em;
    span {
      font-size: 1.6em;
    }
  }
  .button {
    width: 25%;
    text-align: right;
  }
  &:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
  }
}

body {
  counter-reset: item;
}

.courseDescription {
  margin: 1em 0;
}

table{
  width: 100%;
  td{
    width: 50%;
    display: inline-block;
    &.options{
      text-align: right;
      button {
	float: right;
      }
    }
  }
}

ol {
  list-style: none;
  padding: 1em 0;
  li {
    position: relative;
    .startQuestion {
      position: absolute;
      right: 8px;
      left: auto;
      top: 8px;
      bottom: 8px;
    }
    margin-bottom: 2em;
    margin-top: 1em;
    &.module {
      counter-increment: module;
      md-card-title:before {
        content: counter(module) ": ";
        font-weight: bold;
        width: 1.3em;
        display: inline-block;
      }
      .mat-card-content {
        margin-left: -24px;
        margin-right: -24px;
        .alert {
          padding-left: 24px;
          padding-right: 24px;
        }
      }

    }
    ol {
      padding: 0;
    }
    &.question {
      counter-increment: question;
      div:before {
        content: counter(question) ": ";
        font-weight: bold;
      }
    }
  }
}
