<div *ngIf="!loading" class="wrapper">

    <h2>
      {{name}}
    </h2>
  <table>
    <td class="button" [ngSwitch]="true" *ngIf="sidemenu == undefined">
        <button
          *ngSwitchCase="!completed && modules[0] != undefined && !modules[0].questions[0].solved"
          md-raised-button routerLink="/course/{{ id }}/1/1/">{{"start Course" |
          translate}}
        </button>
        <button *ngSwitchCase="completed" md-raised-button [disabled]="true">
          {{"course completed" | translate}}
        </button>
        <button *ngSwitchDefault md-raised-button
                routerLink="/course/{{ id }}/{{ lastCourse[0] }}/{{ lastCourse[1] + 1 }}/">
          {{"continue" | translate}}
        </button>
    </td>
    <td class="options" *ngIf="user.isModerator()">
      <!-- add visible/invisble button here -->
      <div class="button" [ngSwitch]="true" *ngIf="sidemenu == undefined">
        <button md-raised-button *ngSwitchCase="visible"
                [disabled]='!user.isAdmin()' (click)='toggleVisibility()'
                mdTooltip='This course is visible to users'>
          <md-icon>visibility</md-icon>
        </button>
        <button md-raised-button *ngSwitchCase="!visible"
                [disabled]='!user.isAdmin()' (click)='toggleVisibility()'
                mdTooltip='This course is NOT visible to users'>
          <md-icon>visibility_off</md-icon>
        </button>
      </div>
      <button md-raised-button ><md-icon>poll</md-icon></button>
    </td>
  </table>

  <div class="courseDescription">
    {{description}}
  </div>
  <div class="button" *ngIf="sidemenu != undefined">
    <button md-raised-button (click)="closeSidemenu()">{{"continue" |
      translate}}
    </button>
  </div>


  <ol>
    <li class="module" *ngFor="let m of modules; let i = index">
      <md-card>
        <md-card-header>
          <md-card-title>{{m.name}}</md-card-title>
          <md-card-subtitle>
            <markdown [data]="m.learning_text"></markdown>
          </md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <ol>
            <li class="question" *ngFor="let q of m.questions; let j = index">
              <div class="alert" [class.success]="q.solved">
                {{q.title}}
                <button
                  md-raised-button
                  *ngIf="q.solved || (m.questions[j - 1] != undefined && m.questions[j - 1].solved && sidemenu != undefined) || (sidemenu != undefined && modules[i-1] != undefined && modules[i-1].questions[modules[i-1].questions.length - 1].solved && j <= 0) || (i == 0 && j == 0 && sidemenu != undefined) "
                  class="startQuestion"
                  (click)="closeSidemenu()"
                  routerLink="/course/{{id}}/{{i+1}}/{{j+1}}">
                  {{"repeat" | translate}}
                </button>
              </div>
            </li>
          </ol>
        </md-card-content>
      </md-card>
    </li>
  </ol>
</div>
<div *ngIf="loading" class="localLoader">
  <md-progress-spinner mode="indeterminate"></md-progress-spinner>
</div>
