<sass-helper></sass-helper>
<div *ngIf="!loading" >
  <table class="header">
    <td class="title">
      <h2>
        {{name}}
      </h2>
    </td>
    <td class="counter">
    <div class="chart" style="display: block">
      <canvas baseChart
              [legend]="false"
              [colors]="pieChartColor"
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              (chartHover)="chartHovered($event)"></canvas>
    </div>
    </td>
  </table>
  <div class="button" [ngSwitch]="true">
    <button *ngSwitchCase="!completed && modules[0] != undefined && !modules[0].questions[0].solved"  md-raised-button routerLink="/course/{{ id }}/1/1/">{{"start Course" | translate}}</button>
    <button *ngSwitchCase="completed" md-raised-button [disabled]="true">{{"course completed" | translate}}</button>
    <button *ngSwitchDefault md-raised-button routerLink="/course/{{ id }}/{{ lastCourse[0] }}/{{ lastCourse[1] }}/">{{"continue" | translate}}</button>
  </div>

<ol>
  <li class="module" *ngFor="let m of modules; let i = index">
    <md-card>
      <md-card-header>
        <md-card-title>{{m.name}}</md-card-title>
        <md-card-subtitle>{{m.learning_text}}</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <ol>
          <li class="question" *ngFor="let q of m.questions; let j = index">
            <div class="alert" [class.success]="q.solved">
              {{q.type}}
              <button *ngIf="q.solved" class="startQuestion" md-raised-button routerLink="/course/{{id}}/{{i+1}}/{{j+1}}">
                {{"repeat" | translate}}
              </button>
            </div>
          </li>
        </ol>
      </md-card-content>
    </md-card>
  </li>
</ol>
</div>
<div *ngIf="loading" class="localLoader">
<md-progress-spinner mode="indeterminate"></md-progress-spinner>
</div>
