<md-card class="panel" [@slideIn]="loading" (@slideIn.done)="remove($event)">
  <details open="open">
    <summary>
      <table style="width:100%">
        <tr>
          <th>Question: {{title}}</th>
        </tr>
      </table>
    </summary>
    <div>
          <md-input-container>
            <input mdInput placeholder='{{"Question title" | translate}}'
                   type="text" #Title="ngModel" [(ngModel)]="title"
                   name="title" required>
            <md-hint align="start" class="warning"
                     *ngIf="form != null && form.submitted && !Title.valid">
              <strong>{{'The title of the module is required' |
                translate}}</strong></md-hint>
          </md-input-container>
    <md-input-container>
      <textarea mdInput placeholder='{{"Question" | translate}}'
                #Question="ngModel" name="questionBody" type="textarea"
                [(ngModel)]="questionBody" required></textarea>
      <md-hint align="start" class="warning"
               *ngIf="form != null && form.submitted && !Body.valid"><strong>{{'The
        question is required' | translate}}</strong></md-hint>
    </md-input-container>
    <div class="question" #question></div>

      <md-checkbox name="isActive" [(ngModel)]="feedbackBool">
        {{"Custom feedback" | translate}}
      </md-checkbox>
      <md-input-container *ngIf="feedbackBool">
        <input mdInput placeholder='{{"custom feedback text" | translate}}'
               [(ngModel)]="feedback"/>
      </md-input-container>

      <button md-raised-button (click)="loading = false">
        <md-icon>delete</md-icon>
        {{"remove Question" | translate}}
      </button>

    </div>

  </details>
</md-card>
