
.questionWrapper {
  margin: 1em 0;
}

ul {
  list-style: none;
  // padding: 16px 24px;
  margin: 1.5em 0;
  padding: 0;
  li{
    padding:0px 0px;
  }
}

md-select {
  margin-top: 1.5em;
}

summary{
  opacity: 0.75;
  cursor: pointer;
}



.details-animated {
  transition: height 1s ease;
}
.details-animated:not([open]) { height: 1.25em; }
.details-animated[open] { height: auto; }
