<expansion-panels-container>
    <expansion-panel>
        <expansion-panel-title>
            {{questionBody}}
        </expansion-panel-title>

        <expansion-panel-description-hidden>
            Edit this Question here.
        </expansion-panel-description-hidden>

        <expansion-panel-description-toggled>
        </expansion-panel-description-toggled>

        <expansion-panel-content>
<div class="questionWrapper" [@slideIn]="loading" (@slideIn.done)="remove($event)">
  <h2>
    {{"Add Question" | translate}}
  </h2>
  <md-input-container>
	  <textarea mdInput placeholder='{{"Question" | translate}}' #Question="ngModel" name="questionBody" type="textarea" [(ngModel)]="questionBody" required></textarea>
    <md-hint align="start" class="warning" *ngIf="form != null && form.submitted && !Body.valid"><strong>{{'The question is required' | translate}}</strong></md-hint>
  </md-input-container>
  <div class="question" #question></div>
  <div>
    <md-checkbox name="isActive" [(ngModel)]="feedbackBool">
      {{"Custom feedback" | translate}}
    </md-checkbox>
    <md-input-container *ngIf="feedbackBool">
      <input mdInput placeholder='{{"custom feedback text" | translate}}'  [(ngModel)]="feedback" />
    </md-input-container>
  </div>
  <button md-raised-button (click)="loading = false"><md-icon>delete</md-icon> {{"remove Question" | translate}}</button>
</div>
</expansion-panel-content>
</expansion-panel>
</expansion-panels-container>
